Node-RED_tv_ambient_lighting_flow
[{"id":"fce5876bb2bf4a6e","type":"api-call-service","z":"074df99081a0b0d9","name":"TV Lights Off","server":"26956a45.92d866","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.tv_strip","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1010,"y":400,"wires":[[]]},{"id":"385deb72cebc6bf0","type":"server-state-changed","z":"074df99081a0b0d9","name":"Living Room Remote","server":"26956a45.92d866","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"remote.living_room","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":380,"y":340,"wires":[["c7890f5d54761672"]]},{"id":"c7890f5d54761672","type":"switch","z":"074df99081a0b0d9","name":"LR Remote Current Activity","property":"data.new_state.attributes.current_activity","propertyType":"msg","rules":[{"t":"eq","v":"Nintendo Switch","vt":"str"},{"t":"eq","v":"TV","vt":"str"},{"t":"eq","v":"PS5","vt":"str"},{"t":"eq","v":"PowerOff","vt":"str"},{"t":"eq","v":"Google TV","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":620,"y":340,"wires":[["feb5e3d33b5473b5"],["0c5d1ccaf27188c2"],["0786bf25f8a99bcc"],["fce5876bb2bf4a6e"],["1f0af825eec6848a"]]},{"id":"feb5e3d33b5473b5","type":"api-call-service","z":"074df99081a0b0d9","name":"Nintendo Red","server":"26956a45.92d866","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.tv_strip","data":"{\"brightness_pct\":55,\"transition\":3,\"rgb_color\":[230,0,18]}","dataType":"json","mergecontext":"","mustacheAltTags":true,"outputProperties":[],"queue":"none","x":1020,"y":220,"wires":[[]]},{"id":"0c5d1ccaf27188c2","type":"api-call-service","z":"074df99081a0b0d9","name":"Purple","server":"26956a45.92d866","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.tv_strip","data":"{\"brightness_pct\":60,\"transition\":3,\"rgb_color\":[190,58,140]}","dataType":"json","mergecontext":"","mustacheAltTags":true,"outputProperties":[],"queue":"none","x":990,"y":280,"wires":[[]]},{"id":"0786bf25f8a99bcc","type":"api-call-service","z":"074df99081a0b0d9","name":"PlayStation Blue","server":"26956a45.92d866","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.tv_strip","data":"{\"brightness_pct\":55,\"transition\":1.5,\"rgb_color\":[102,92,190]}","dataType":"json","mergecontext":"","mustacheAltTags":true,"outputProperties":[],"queue":"none","x":1020,"y":340,"wires":[[]]},{"id":"1f0af825eec6848a","type":"api-call-service","z":"074df99081a0b0d9","name":"Purple","server":"26956a45.92d866","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.tv_strip","data":"{\"brightness_pct\":55,\"transition\":3,\"rgb_color\":[131,58,180]}","dataType":"json","mergecontext":"","mustacheAltTags":true,"outputProperties":[],"queue":"none","x":990,"y":460,"wires":[[]]},{"id":"26956a45.92d866","type":"server","name":"Hass.io","version":1,"legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]
