Node-RED_dining_motion_flow
[
    {
        "id": "76d371d4.45eeb",
        "type": "tab",
        "label": "test 5",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d350f231.db8a8",
        "type": "api-call-service",
        "z": "76d371d4.45eeb",
        "name": "Turn off dining room light",
        "server": "26956a45.92d866",
        "version": 1,
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "light.dining",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 750,
        "y": 160,
        "wires": [
            [
                "b0a7e211.84119"
            ]
        ]
    },
    {
        "id": "84953c6c.7e988",
        "type": "comment",
        "z": "76d371d4.45eeb",
        "name": "4. (Below) If the dining room light is left on, turn it off if no motion for 20 minutes____________________________________________________________________________________________________",
        "info": "",
        "x": 740,
        "y": 120,
        "wires": []
    },
    {
        "id": "3ca8ded7.9dcdb2",
        "type": "api-current-state",
        "z": "76d371d4.45eeb",
        "name": "Dining light off?",
        "server": "26956a45.92d866",
        "version": 1,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "light.dining",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 1100,
        "y": 220,
        "wires": [
            [],
            [
                "d350f231.db8a8"
            ]
        ]
    },
    {
        "id": "b0a7e211.84119",
        "type": "delay",
        "z": "76d371d4.45eeb",
        "name": "1sec",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 930,
        "y": 160,
        "wires": [
            [
                "3ca8ded7.9dcdb2"
            ]
        ]
    },
    {
        "id": "ad355a42.c70bf8",
        "type": "server-state-changed",
        "z": "76d371d4.45eeb",
        "name": "Dining motion",
        "server": "26956a45.92d866",
        "version": 1,
        "entityidfilter": "binary_sensor.motion_dining",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": false,
        "x": 150,
        "y": 160,
        "wires": [
            [
                "c1cb0db8.f1ab"
            ],
            []
        ]
    },
    {
        "id": "c1cb0db8.f1ab",
        "type": "api-current-state",
        "z": "76d371d4.45eeb",
        "name": "Dining light on?",
        "server": "26956a45.92d866",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "light.dining",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 380,
        "y": 160,
        "wires": [
            [
                "ee7f6c5.2446e9"
            ],
            []
        ]
    },
    {
        "id": "ee7f6c5.2446e9",
        "type": "stoptimer",
        "z": "76d371d4.45eeb",
        "duration": "20",
        "units": "Minute",
        "payloadtype": "num",
        "payloadval": "0",
        "name": "20min",
        "x": 530,
        "y": 160,
        "wires": [
            [
                "d350f231.db8a8"
            ],
            []
        ]
    },
    {
        "id": "26956a45.92d866",
        "type": "server",
        "z": "",
        "name": "Hass.io",
        "legacy": false,
        "hassio": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true
    }
]
