Node-RED_tattle_tell
[{"id":"32554245.8bc4ce","type":"tab","label":"Test Tab 2","disabled":true,"info":""},{"id":"a3ce773e.a3bc88","type":"time-range-switch","z":"32554245.8bc4ce","name":"9p to 5a","lat":"27.918805","lon":"-81.95932","startTime":"21:00","endTime":"05:00","startOffset":0,"endOffset":0,"x":300,"y":80,"wires":[["d5624d81.45246"],[]]},{"id":"d4521cd3.e50e4","type":"comment","z":"32554245.8bc4ce","name":"If Wyatt's door is opened between 9p and 5a and everything is off, say \"Wyatt's awake!\" on Master Bedroom Google Home.","info":"","x":430,"y":40,"wires":[]},{"id":"b04be38f.ff1b5","type":"server-state-changed","z":"32554245.8bc4ce","name":"Wyatt's bedroom door","server":"26956a45.92d866","version":1,"entityidfilter":"binary_sensor.interior_door_wyatts_bedroom","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":120,"y":80,"wires":[["a3ce773e.a3bc88"],[]]},{"id":"9b1138b2.438a38","type":"api-call-service","z":"32554245.8bc4ce","name":"Say \"Wyatt's Awake\"","server":"26956a45.92d866","version":1,"service_domain":"tts","service":"google_cloud_say","entityId":"media_player.master_bedroom_speaker","data":"{\"message\":\"Wyatt's awake.\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":900,"y":80,"wires":[[]]},{"id":"8efe3cc0.3381b","type":"api-call-service","z":"32554245.8bc4ce","name":"Set volume 50%","server":"26956a45.92d866","version":1,"service_domain":"media_player","service":"volume_set","entityId":"media_player.master_bedroom_speaker","data":"{\"volume_level\":0.5}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":700,"y":80,"wires":[["9b1138b2.438a38"]]},{"id":"d5624d81.45246","type":"api-current-state","z":"32554245.8bc4ce","name":"TV lights off?","server":"26956a45.92d866","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.tv_strip","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":450,"y":80,"wires":[["76118ba.f327d74"],[]]},{"id":"76118ba.f327d74","type":"api-current-state","z":"32554245.8bc4ce","name":"Pendant lights off?","server":"26956a45.92d866","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.pendants","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":470,"y":120,"wires":[["c2b01621.a3a418"],[]]},{"id":"c2b01621.a3a418","type":"api-current-state","z":"32554245.8bc4ce","name":"Kitchen lights off?","server":"26956a45.92d866","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.kitchen_lights","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":470,"y":160,"wires":[["8efe3cc0.3381b"],[]]},{"id":"26956a45.92d866","type":"server","z":"","name":"Hass.io","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true}]
