Node-RED_routines_tab
[{"id":"316f48af.916cc8","type":"subflow","name":"Turn off everything","info":"","category":"","in":[{"x":20,"y":80,"wires":[{"id":"2ed5d053.259fe"},{"id":"501ce5f6.0cac0c"},{"id":"a8b9126f.b0baf"},{"id":"1480fa8e.38c985"},{"id":"ab95f73c.332ee8"},{"id":"217cd4b2.acce9c"}]}],"out":[{"x":240,"y":360,"wires":[{"id":"316f48af.916cc8","port":0}]}],"env":[],"color":"#DDAA99","status":{"x":240,"y":420,"wires":[{"id":"316f48af.916cc8","port":0}]}},{"id":"2ed5d053.259fe","type":"api-call-service","z":"316f48af.916cc8","name":"Turn off the livingroom and mb tv remote","server":"26956a45.92d866","version":5,"debugenabled":false,"domain":"remote","service":"turn_off","areaId":[],"deviceId":[],"entityId":["remote.living_room","remote.master_bedroom_tv"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":380,"y":40,"wires":[[]]},{"id":"a8b9126f.b0baf","type":"api-call-service","z":"316f48af.916cc8","name":"Turn off living room fan","server":"26956a45.92d866","version":5,"debugenabled":false,"domain":"fan","service":"turn_off","areaId":[],"deviceId":[],"entityId":["fan.living_room"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":320,"y":120,"wires":[[]]},{"id":"501ce5f6.0cac0c","type":"api-call-service","z":"316f48af.916cc8","name":"Turn off lights","server":"26956a45.92d866","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.interior_lights","light.exterior_lights"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":300,"y":80,"wires":[[]]},{"id":"1480fa8e.38c985","type":"api-call-service","z":"316f48af.916cc8","name":"Turn off smart plugs","server":"26956a45.92d866","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.plug_2","switch.lanai_string_lights","switch.livingroom_lamp","switch.master_bedroom_ac","switch.small_livingroom_lamp"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":320,"y":160,"wires":[[]]},{"id":"ab95f73c.332ee8","type":"api-call-service","z":"316f48af.916cc8","name":"Turn off media players","server":"26956a45.92d866","version":5,"debugenabled":false,"domain":"media_player","service":"turn_off","areaId":[],"deviceId":[],"entityId":["media_player.avas_room_gh","media_player.garage_gh","media_player.gwen_s_gh","media_player.kitchen_hub","media_player.lanai_gh","media_player.living_room_echo","media_player.living_room_gh","media_player.master_bedroom_gh","media_player.wyatt_s_gh","media_player.wyatts_tv"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":320,"y":200,"wires":[[]]},{"id":"217cd4b2.acce9c","type":"api-call-service","z":"316f48af.916cc8","name":"Turn on \"Everything Off\" boolean","server":"26956a45.92d866","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.everything_off_boolean"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":360,"y":240,"wires":[["f4c6ac37.202b"]]},{"id":"ce3077cd.7e2308","type":"api-current-state","z":"316f48af.916cc8","name":"\"Everything Off\" boolean off?","server":"26956a45.92d866","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.everything_off_boolean","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":480,"y":300,"wires":[["217cd4b2.acce9c"],[]]},{"id":"f4c6ac37.202b","type":"delay","z":"316f48af.916cc8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":280,"y":300,"wires":[["ce3077cd.7e2308"]]},{"id":"c145316743d9c4ba","type":"comment","z":"f699925d4b7c779c","name":"**Morning Routine________________________________________________________________________________________________________________________","info":"****","x":570,"y":40,"wires":[]},{"id":"8c79b2cad8edfab2","type":"api-call-service","z":"f699925d4b7c779c","name":"Ecobee home","server":"26956a45.92d866","version":5,"debugenabled":false,"domain":"climate","service":"set_preset_mode","areaId":[],"deviceId":[],"entityId":["climate.my_ecobee"],"data":"{\"preset_mode\":\"home\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1120,"y":80,"wires":[[]]},{"id":"136cdca6a5433502","type":"api-call-service","z":"f699925d4b7c779c","name":"Disarm Home","server":"26956a45.92d866","version":5,"debugenabled":false,"domain":"alarm_control_panel","service":"alarm_disarm","areaId":[],"deviceId":[],"entityId":["alarm_control_panel.home_alarm"],"data":"{\"code\":\"1234\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1260,"y":200,"wires":[["29143b6729ee7f98"]]},{"id":"718584c15eaa5b32","type":"comment","z":"f699925d4b7c779c","name":"**Evening Routine________________________________________________________________________________________________________________________","info":"","x":570,"y":300,"wires":[]},{"id":"91e3f6d3ba6aa08f","type":"inject","z":"f699925d4b7c779c","name":"8pm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 20 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":110,"y":340,"wires":[["9dae4f5f163bb4a2"]]},{"id":"bf6b3820c492c8f6","type":"comment","z":"f699925d4b7c779c","name":"**Night Routines________________________________________________________________________________________________________________________","info":"","x":570,"y":420,"wires":[]},{"id":"4cc6fbf2c201ed1d","type":"api-call-service","z":"f699925d4b7c779c","name":"Arm Night","server":"26956a45.92d866","version":5,"debugenabled":false,"domain":"alarm_control_panel","service":"alarm_arm_night","areaId":[],"deviceId":[],"entityId":["alarm_control_panel.home_alarm"],"data":"{\"code\":\"1234\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":780,"y":600,"wires":[[]]},{"id":"fd58479666810d56","type":"inject","z":"f699925d4b7c779c","name":"Every 30mins","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1800","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"str","x":140,"y":620,"wires":[["6f2d2351891e238d"]]},{"id":"b260e7db16f584a1","type":"inject","z":"f699925d4b7c779c","name":"10:30pm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"30 22 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":120,"y":500,"wires":[["7913b5d7b0496f77","ee10ce95d9d05346","768ff9b3a21627c0","4fccb65365733a7b"]]},{"id":"0ace70e5de58a5a5","type":"api-call-service","z":"f699925d4b7c779c","name":"Ecobee sleep","server":"26956a45.92d866","version":5,"debugenabled":false,"domain":"climate","service":"set_preset_mode","areaId":[],"deviceId":[],"entityId":["climate.my_ecobee"],"data":"{\"preset_mode\":\"sleep\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":580,"y":340,"wires":[[]]},{"id":"8730fc79d2e1bfbf","type":"telegrambot-notify","z":"f699925d4b7c779c","name":"Log morning routine","bot":"efbc7bf8.9354a8","chatId":"-373686357","message":"Morning routine","parseMode":"","x":1560,"y":140,"wires":[]},{"id":"cd7c742b13511302","type":"delay","z":"f699925d4b7c779c","name":"1/3","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"outputs":1,"x":1090,"y":140,"wires":[["8730fc79d2e1bfbf","85d614917d6e2f39","e1c91764846d6ea2"]]},{"id":"7913b5d7b0496f77","type":"delay","z":"f699925d4b7c779c","name":"1/3","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"outputs":1,"x":310,"y":500,"wires":[["eec5d14813c658b4","24fe21574a0150b1"]]},{"id":"f3567901c1aedb91","type":"comment","z":"f699925d4b7c779c","name":"Check if alarm armed at night","info":"","x":160,"y":460,"wires":[]},{"id":"b1fd9c4d4a01d6b9","type":"api-current-state","z":"f699925d4b7c779c","name":"Alarmed Night?","server":"26956a45.92d866","version":3,"outputs":2,"halt_if":"armed_night","halt_if_type":"str","halt_if_compare":"is","entity_id":"alarm_control_panel.home_alarm","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1080,"y":200,"wires":[["136cdca6a5433502"],[]]},{"id":"29143b6729ee7f98","type":"delay","z":"f699925d4b7c779c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1160,"y":260,"wires":[["b1fd9c4d4a01d6b9"]]},{"id":"f2ce82dd21ce1166","type":"time-range-switch","z":"f699925d4b7c779c","name":"9p to 5a","lat":"27.918805","lon":"-81.95932","startTime":"21:00","endTime":"05:00","startOffset":0,"endOffset":0,"x":320,"y":900,"wires":[["33c0ae5b04c14210"],[]]},{"id":"1f689f52096eb208","type":"comment","z":"f699925d4b7c779c","name":"If Wyatt's door is opened between 9p and 5a, say \"Wyatt's awake!\" on Master Bedroom Google Home.","info":"","x":390,"y":840,"wires":[]},{"id":"4d05c582d4ccc0d9","type":"server-state-changed","z":"f699925d4b7c779c","name":"Wyatt's bedroom door","server":"26956a45.92d866","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.interior_door_wyatts_bedroom","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":900,"wires":[["f2ce82dd21ce1166"],[]]},{"id":"b9012543e6eb3d8b","type":"api-call-service","z":"f699925d4b7c779c","name":"Say \"Wyatt's Awake\"","server":"26956a45.92d866","version":5,"debugenabled":false,"domain":"tts","service":"google_cloud_say","areaId":[],"deviceId":[],"entityId":["media_player.master_bedroom_gh"],"data":"{\"message\":\"Wyatt's awake.\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":980,"y":860,"wires":[["8c52813e257a5648"]]},{"id":"7f281f076bbc2613","type":"api-call-service","z":"f699925d4b7c779c","name":"Set volume 60%","server":"26956a45.92d866","version":5,"debugenabled":false,"domain":"media_player","service":"volume_set","areaId":[],"deviceId":[],"entityId":["media_player.master_bedroom_gh"],"data":"{\"volume_level\":0.6}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":760,"y":880,"wires":[["b9012543e6eb3d8b"]]},{"id":"ee10ce95d9d05346","type":"api-current-state","z":"f699925d4b7c779c","name":"Alarm Armed Night?","server":"26956a45.92d866","version":3,"outputs":2,"halt_if":"armed_night","halt_if_type":"str","halt_if_compare":"is","entity_id":"alarm_control_panel.home_alarm","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":600,"y":600,"wires":[[],["4cc6fbf2c201ed1d"]]},{"id":"33c0ae5b04c14210","type":"api-current-state","z":"f699925d4b7c779c","name":"Living Room TV Off?","server":"26956a45.92d866","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.lr_android_tv","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":500,"y":880,"wires":[["7f281f076bbc2613","738c1d334a9e0b9c","d6471d93960191d4"],[]]},{"id":"6a23bb901b2dc234","type":"api-current-state","z":"f699925d4b7c779c","name":"Family home?","server":"26956a45.92d866","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"group.family","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":660,"y":80,"wires":[["8c79b2cad8edfab2","cd7c742b13511302","b1fd9c4d4a01d6b9","a1aa7b47db1fd809"],[]]},{"id":"9dae4f5f163bb4a2","type":"api-current-state","z":"f699925d4b7c779c","name":"Family home?","server":"26956a45.92d866","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"group.family","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":260,"y":340,"wires":[["0ace70e5de58a5a5"],[]]},{"id":"6f2d2351891e238d","type":"time-range-switch","z":"f699925d4b7c779c","name":"11p - 4:30a","lat":"28.06989","lon":"-81.95686","startTime":"23:00","endTime":"04:30","startOffset":0,"endOffset":0,"x":310,"y":620,"wires":[["ee10ce95d9d05346","768ff9b3a21627c0","4db2e7d33b662e79","4e47748d1108c17a","0ace70e5de58a5a5","24fe21574a0150b1"],[]]},{"id":"738c1d334a9e0b9c","type":"api-call-service","z":"f699925d4b7c779c","name":"Notify Android group Wyatt's awake","server":"26956a45.92d866","version":5,"debugenabled":false,"domain":"notify","service":"android_notify_group","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\"Wyatt's awake\",\"message\":\"Wyatt's awake\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":820,"y":940,"wires":[[]]},{"id":"d6471d93960191d4","type":"api-call-service","z":"f699925d4b7c779c","name":"Persist Notify Wyatt's awake","server":"26956a45.92d866","version":5,"debugenabled":false,"domain":"persistent_notification","service":"create","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\"Wyatt's awake\",\"message\":\"Wyatt's awake\",\"notification_id\":\"6\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":800,"y":1000,"wires":[[]]},{"id":"85d614917d6e2f39","type":"api-call-service","z":"f699925d4b7c779c","name":"Notify Android group morning routine","server":"26956a45.92d866","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_justin_s_phone","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Morning routine\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1610,"y":80,"wires":[[]]},{"id":"eec5d14813c658b4","type":"api-call-service","z":"f699925d4b7c779c","name":"Notify Android group Night routine","server":"26956a45.92d866","version":5,"debugenabled":false,"domain":"notify","service":"android_notify_group","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Night routine\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":640,"y":460,"wires":[[]]},{"id":"c932535cd1db7e1c","type":"comment","z":"f699925d4b7c779c","name":"**Away Routines________________________________________________________________________________________________________________________","info":"","x":570,"y":1280,"wires":[]},{"id":"05f7b63a7bbe3304","type":"api-current-state","z":"f699925d4b7c779c","name":"Alarm armed away?","server":"26956a45.92d866","version":3,"outputs":2,"halt_if":"armed_away","halt_if_type":"str","halt_if_compare":"is","entity_id":"alarm_control_panel.home_alarm","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1440,"y":1320,"wires":[["e4e2bc0776e94b57"],["ce01f606a849225c"]],"outputLabels":["yes","no"]},{"id":"6a4c3595db7eae00","type":"timeframerlt","z":"f699925d4b7c779c","name":"x5 count","throttleType":"count","timeLimit":"12","timeLimitType":"seconds","countLimit":"5","byresetcountLimit":"5","x":1960,"y":1320,"wires":[["add67ac79a687f77"]]},{"id":"e4e2bc0776e94b57","type":"function","z":"f699925d4b7c779c","name":"reset","func":"msg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1630,"y":1320,"wires":[["6a4c3595db7eae00","5e3ac6decc42ba30"]]},{"id":"5e3ac6decc42ba30","type":"delay","z":"f699925d4b7c779c","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1780,"y":1400,"wires":[["6a4c3595db7eae00","05f7b63a7bbe3304"]]},{"id":"ce01f606a849225c","type":"api-call-service","z":"f699925d4b7c779c","name":"Arm alarm away","server":"26956a45.92d866","version":5,"debugenabled":false,"domain":"alarm_control_panel","service":"alarm_arm_away","areaId":[],"deviceId":[],"entityId":["alarm_control_panel.home_alarm"],"data":"{\"code\":\"1234\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1420,"y":1400,"wires":[["5e3ac6decc42ba30"]]},{"id":"6f693ded7fa86e13","type":"comment","z":"f699925d4b7c779c","name":"Arm Alarm Away, Verify Armed------------------------------                                        ","info":"","x":1510,"y":1280,"wires":[]},{"id":"0b4fc0ac25142eb1","type":"timeframerlt","z":"f699925d4b7c779c","name":"x5 count","throttleType":"count","timeLimit":"80","timeLimitType":"seconds","countLimit":"5","byresetcountLimit":"5","x":2020,"y":1520,"wires":[["bc3bfda9d32c3cbd","d952d33c28f270e7"]]},{"id":"3968fc7c647d21fe","type":"delay","z":"f699925d4b7c779c","d":true,"name":"","pauseType":"delay","timeout":"18","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1860,"y":1600,"wires":[["0e6397243715aecf"]]},{"id":"22b433bcc71e4d11","type":"api-call-service","z":"f699925d4b7c779c","name":"Close garage","server":"26956a45.92d866","version":5,"debugenabled":false,"domain":"cover","service":"close_cover","areaId":[],"deviceId":[],"entityId":["cover.door_garage"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1610,"y":1540,"wires":[["3968fc7c647d21fe"]]},{"id":"bc3bfda9d32c3cbd","type":"function","z":"f699925d4b7c779c","name":"reset","func":"msg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1810,"y":1520,"wires":[["0b4fc0ac25142eb1","3968fc7c647d21fe"]]},{"id":"7e62b1536303a311","type":"api-current-state","z":"f699925d4b7c779c","name":"Garage closed?","server":"26956a45.92d866","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.door_garage","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1400,"y":1500,"wires":[["d88cda1a65b8be13"],["22b433bcc71e4d11"]],"outputLabels":["yes","no"]},{"id":"b0bee55d51c121b7","type":"comment","z":"f699925d4b7c779c","name":"Close garage door------------------------------                                                                                ","info":"","x":1480,"y":1460,"wires":[]},{"id":"e66481ba4c416f92","type":"subflow:316f48af.916cc8","z":"f699925d4b7c779c","name":"Everything off","env":[],"x":1400,"y":1640,"wires":[["3805d5433b31df23"]]},{"id":"bcaa6c29fdd7f6fe","type":"comment","z":"f699925d4b7c779c","name":"Turn off anything left on------------------------------                                        ","info":"","x":1490,"y":1600,"wires":[]},{"id":"a6bcf4322935a07a","type":"delay","z":"f699925d4b7c779c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":500,"y":1800,"wires":[["643fe93c76e6921d"]]},{"id":"b2c86896e0b7ba07","type":"link out","z":"f699925d4b7c779c","name":"From justin leaves","links":["d8aa6679.a967d8"],"x":395,"y":1660,"wires":[]},{"id":"001f0da4f23ad0a3","type":"link out","z":"f699925d4b7c779c","name":"From Sarah leaves","links":["7279dc2.ddb2b24"],"x":395,"y":1700,"wires":[]},{"id":"bc5c9b4dd3f0fbc3","type":"link out","z":"f699925d4b7c779c","name":"From Ava leaves","links":["676f4ee5.914a"],"x":395,"y":1740,"wires":[]},{"id":"add67ac79a687f77","type":"link out","z":"f699925d4b7c779c","name":"From unable to arm alarm","links":["46737693.08c3a8"],"x":2065,"y":1320,"wires":[]},{"id":"8d39f7db371479bb","type":"link out","z":"f699925d4b7c779c","name":"From everthing off","links":["61bd9f2e.75809"],"x":1695,"y":1640,"wires":[]},{"id":"c3d840bb897e6f10","type":"link out","z":"f699925d4b7c779c","name":"From unable to close garage","links":["f2b6f02c.82b24"],"x":2355,"y":1520,"wires":[]},{"id":"a4f6f4fd6a991d54","type":"comment","z":"f699925d4b7c779c","name":"**Home Routines________________________________________________________________________________________________________________________","info":"","x":570,"y":2060,"wires":[]},{"id":"e7264cc472661e4d","type":"delay","z":"f699925d4b7c779c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":380,"y":2100,"wires":[["8867de839aeae735","dbb989c18fe9e4d0","ca41895f1e1b201d","365e499c5ea223ae","9acfc1a002bb24b4","362b0930af4a275d","1a40a57170a22694"]]},{"id":"362b0930af4a275d","type":"api-call-service","z":"f699925d4b7c779c","name":"Disarm Alarm","server":"26956a45.92d866","version":5,"debugenabled":false,"domain":"alarm_control_panel","service":"alarm_disarm","areaId":[],"deviceId":[],"entityId":["alarm_control_panel.home_alarm"],"data":"{\"code\":\"1234\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":800,"y":2140,"wires":[["d607686aaa248093"]]},{"id":"365e499c5ea223ae","type":"api-call-service","z":"f699925d4b7c779c","name":"Set Ecobee home","server":"26956a45.92d866","version":5,"debugenabled":false,"domain":"climate","service":"set_preset_mode","areaId":[],"deviceId":[],"entityId":["climate.my_ecobee"],"data":"{\"preset_mode\":\"home\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":810,"y":2780,"wires":[[]]},{"id":"e0cdcc98313165ac","type":"api-call-service","z":"f699925d4b7c779c","name":"Kitchen lights 100%","server":"26956a45.92d866","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.kitchen_lights"],"data":"{\"transition\":2,\"brightness_pct\":100,\"rgb_color\":[255,207,120]}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1190,"y":2520,"wires":[["6677f851daae1064"]]},{"id":"11dd821be74d47c6","type":"api-current-state","z":"f699925d4b7c779c","name":"Kitchen lights on?","server":"26956a45.92d866","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.kitchen_lights","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":990,"y":2520,"wires":[[],["e0cdcc98313165ac"]]},{"id":"a61f0e6f2d39b4d1","type":"api-call-service","z":"f699925d4b7c779c","name":"Open Garage","server":"26956a45.92d866","version":5,"debugenabled":false,"domain":"cover","service":"open_cover","areaId":[],"deviceId":[],"entityId":["cover.door_garage"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1720,"y":2140,"wires":[["bef64fe7457c3469"]]},{"id":"9376632d5ffe20b6","type":"api-current-state","z":"f699925d4b7c779c","name":"Garage open?","server":"26956a45.92d866","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.door_garage","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1460,"y":2100,"wires":[["0d4f603f66577568"],["a61f0e6f2d39b4d1"]]},{"id":"e2ab7e88142648b7","type":"api-current-state","z":"f699925d4b7c779c","name":"Alarm disarmed?","server":"26956a45.92d866","version":3,"outputs":2,"halt_if":"disarmed","halt_if_type":"str","halt_if_compare":"is","entity_id":"alarm_control_panel.home_alarm","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1250,"y":2120,"wires":[["9376632d5ffe20b6"],["003fb9b1b2893001"]]},{"id":"003fb9b1b2893001","type":"delay","z":"f699925d4b7c779c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1240,"y":2220,"wires":[["e2ab7e88142648b7"]]},{"id":"aa2099c64d1e19c6","type":"comment","z":"f699925d4b7c779c","name":"Wait for alarm to disarm before opening garage. ","info":"","x":1340,"y":2180,"wires":[]},{"id":"bef64fe7457c3469","type":"delay","z":"f699925d4b7c779c","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1900,"y":2140,"wires":[["944e49c5c521a427","f7157bb999eb1b47"]]},{"id":"944e49c5c521a427","type":"api-current-state","z":"f699925d4b7c779c","name":"Garage Open?","server":"26956a45.92d866","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.door_garage","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":2060,"y":2060,"wires":[["11bb1c2274606989"],["a61f0e6f2d39b4d1"]]},{"id":"657a3ca4427767a3","type":"link out","z":"f699925d4b7c779c","name":"From garage already opened","links":["9ea65ba0.3d0328"],"x":1835,"y":2060,"wires":[]},{"id":"a15b412d077c17c8","type":"link out","z":"f699925d4b7c779c","name":"To garage opened","links":["df14d32.74c023"],"x":2375,"y":2060,"wires":[]},{"id":"6677f851daae1064","type":"link out","z":"f699925d4b7c779c","name":"From kitchen lights on ","links":["65b4fc86.4b85b4"],"x":1325,"y":2520,"wires":[]},{"id":"914a2a94d95b823f","type":"link out","z":"f699925d4b7c779c","name":"From Justin arrives","links":["72c3ba47.456944"],"x":395,"y":1880,"wires":[]},{"id":"a1522c0425219dac","type":"link out","z":"f699925d4b7c779c","name":"From Sarah arrives","links":["fc5334d8.f1b868"],"x":395,"y":1920,"wires":[]},{"id":"8390f765a2270130","type":"link out","z":"f699925d4b7c779c","name":"From Ava arrives","links":["70686f6a.4aaeb"],"x":395,"y":1960,"wires":[]},{"id":"71b9ed0317f6d58f","type":"comment","z":"f699925d4b7c779c","name":"Disarm alarm , verify disrmed------------------------------                                        ","info":"","x":890,"y":2100,"wires":[]},{"id":"a1aa7b47db1fd809","type":"api-call-service","z":"f699925d4b7c779c","name":"Morning routine boolean \"on\"","server":"26956a45.92d866","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.morning_routine_boolean"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1580,"y":200,"wires":[["77c2751741aa02cd","76e2e0922f93fe51"]]},{"id":"6065ca4526bae05c","type":"inject","z":"f699925d4b7c779c","name":"5-6am","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"*/5 5 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":120,"y":80,"wires":[["0d6a307ecd2aaf1c"]]},{"id":"f04e9d6b50dc3b26","type":"inject","z":"f699925d4b7c779c","name":"9:01am","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"*/5 21 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":120,"y":220,"wires":[["bb5ae7d0e59e6360"]]},{"id":"bb5ae7d0e59e6360","type":"api-call-service","z":"f699925d4b7c779c","name":"Morning routine boolean \"off\"","server":"26956a45.92d866","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.morning_routine_boolean"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":320,"y":220,"wires":[[]]},{"id":"d4b08f6a205a07c5","type":"comment","z":"f699925d4b7c779c","name":"Timer to check if away routine needs to run","info":"","x":200,"y":1320,"wires":[]},{"id":"8867de839aeae735","type":"api-call-service","z":"f699925d4b7c779c","name":"Away routine boolean \"off\"","server":"26956a45.92d866","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.away_routine_boolean"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":840,"y":2380,"wires":[["e780f07d8caa6919"]]},{"id":"f7157bb999eb1b47","type":"timeframerlt","z":"f699925d4b7c779c","name":"x5 count","throttleType":"reset","timeLimit":"80","timeLimitType":"seconds","countLimit":"5","byresetcountLimit":"5","x":2040,"y":2140,"wires":[["7495ab54c454ca3b"]]},{"id":"7495ab54c454ca3b","type":"function","z":"f699925d4b7c779c","name":"reset","func":"msg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2170,"y":2140,"wires":[["bef64fe7457c3469"]]},{"id":"e780f07d8caa6919","type":"delay","z":"f699925d4b7c779c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1060,"y":2380,"wires":[["0b3daf9bf67e488b"]]},{"id":"0b3daf9bf67e488b","type":"api-current-state","z":"f699925d4b7c779c","name":"Away routine boolean off?","server":"26956a45.92d866","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.away_routine_boolean","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1130,"y":2440,"wires":[["d90ed3cc924be057"],["8867de839aeae735"]]},{"id":"109207e4765c4235","type":"api-current-state","z":"f699925d4b7c779c","name":"Ava Home?","server":"26956a45.92d866","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"device_tracker.life360_ava","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":830,"y":1800,"wires":[["7e62b1536303a311","05f7b63a7bbe3304","50f4e44596995c3f","9acfc1a002bb24b4"],["05f7b63a7bbe3304","7e62b1536303a311","e66481ba4c416f92","4c481f5e9f0a3a21","94a68a7ef2836f8f","50f4e44596995c3f","9acfc1a002bb24b4","1044d1ca25c3d6ef"]]},{"id":"643fe93c76e6921d","type":"api-current-state","z":"f699925d4b7c779c","name":"Family Home?","server":"26956a45.92d866","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"group.family","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":660,"y":1800,"wires":[[],["109207e4765c4235"]]},{"id":"3b94796022071a66","type":"api-current-state","z":"f699925d4b7c779c","name":"Morning boolean on?","server":"26956a45.92d866","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.morning_routine_boolean","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":460,"y":80,"wires":[[],["6a23bb901b2dc234"]]},{"id":"0d6a307ecd2aaf1c","type":"time-range-switch","z":"f699925d4b7c779c","name":"","lat":"28.06989","lon":"-81.95686","startTime":"05:00","endTime":"06:00","startOffset":0,"endOffset":0,"x":270,"y":100,"wires":[["3b94796022071a66","04ee3fd12247bcdc"],[]]},{"id":"0d4f603f66577568","type":"delay","z":"f699925d4b7c779c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1720,"y":2060,"wires":[["657a3ca4427767a3"]]},{"id":"11bb1c2274606989","type":"delay","z":"f699925d4b7c779c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"60","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2260,"y":2060,"wires":[["a15b412d077c17c8"]]},{"id":"0e6397243715aecf","type":"api-current-state","z":"f699925d4b7c779c","name":"Garage closed?","server":"26956a45.92d866","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.door_garage","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":2020,"y":1600,"wires":[["bc3bfda9d32c3cbd","6faf09f3e004fa97"],["22b433bcc71e4d11","0b4fc0ac25142eb1"]],"outputLabels":["yes","no"]},{"id":"4df4881faf517ea5","type":"link out","z":"f699925d4b7c779c","name":"From Garage already closed","links":["aba71766.89c3e8"],"x":1735,"y":1480,"wires":[]},{"id":"df1922654c8df3bf","type":"api-current-state","z":"f699925d4b7c779c","name":"Garage closed?","server":"26956a45.92d866","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.door_garage","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":800,"y":1380,"wires":[[],["7e62b1536303a311"]],"outputLabels":["yes","no"]},{"id":"78cafe172ea7643d","type":"comment","z":"f699925d4b7c779c","name":"Set Ecobee to \"Home\"","info":"","x":800,"y":2740,"wires":[]},{"id":"02ed260c31340597","type":"api-current-state","z":"f699925d4b7c779c","name":"\"Away Routine\" boolean on?","server":"26956a45.92d866","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.away_routine_boolean","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":840,"y":1440,"wires":[[],["94a68a7ef2836f8f"]]},{"id":"b3dda2910d8baabe","type":"api-current-state","z":"f699925d4b7c779c","name":"\"Everything Off\" boolean on?","server":"26956a45.92d866","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.everything_off_boolean","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":840,"y":1500,"wires":[[],["e66481ba4c416f92"]]},{"id":"96dc8f9def49372d","type":"comment","z":"f699925d4b7c779c","name":"Set thermostat away------------------------------                                        ","info":"","x":1480,"y":1880,"wires":[]},{"id":"989a87905c70945b","type":"api-call-service","z":"f699925d4b7c779c","name":"Thermostat away","server":"26956a45.92d866","version":5,"debugenabled":false,"domain":"climate","service":"set_preset_mode","areaId":[],"deviceId":[],"entityId":["climate.my_ecobee"],"data":"{\"preset_mode\":\"away\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1850,"y":1920,"wires":[[]]},{"id":"4c481f5e9f0a3a21","type":"api-current-state","z":"f699925d4b7c779c","name":"Ecobee off?","server":"26956a45.92d866","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"climate.my_ecobee","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1390,"y":1920,"wires":[["5fe84e6bc55d21f7"]]},{"id":"5fe84e6bc55d21f7","type":"switch","z":"f699925d4b7c779c","name":"Ecobee not away?","property":"data.attributes.preset_mode","propertyType":"msg","rules":[{"t":"eq","v":"Home","vt":"str"},{"t":"eq","v":"Sleep","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"Away","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":1590,"y":1940,"wires":[["989a87905c70945b"],["989a87905c70945b"],["989a87905c70945b"],[]]},{"id":"fcafd8f192c710d7","type":"api-current-state","z":"f699925d4b7c779c","name":"Family Home?","server":"26956a45.92d866","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"group.family","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":420,"y":1360,"wires":[["9acfc1a002bb24b4"],["31b3349169e58481"]]},{"id":"4c22e8fb9f6b111c","type":"inject","z":"f699925d4b7c779c","name":"30m","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1800","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":110,"y":1360,"wires":[["fd7881b919767d9f"]]},{"id":"232d1b87d3006a8d","type":"api-current-state","z":"f699925d4b7c779c","name":"Alarm armed away?","server":"26956a45.92d866","version":3,"outputs":2,"halt_if":"armed_away","halt_if_type":"str","halt_if_compare":"is","entity_id":"alarm_control_panel.home_alarm","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":820,"y":1560,"wires":[["e4e2bc0776e94b57"],["ce01f606a849225c"]],"outputLabels":["yes","no"]},{"id":"b1f5b78b3ef9fa87","type":"link out","z":"f699925d4b7c779c","name":"From Justin arrives","links":["f2ad7a03.5d8218"],"x":395,"y":2000,"wires":[]},{"id":"d607686aaa248093","type":"delay","z":"f699925d4b7c779c","name":"","pauseType":"delay","timeout":"2.5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":970,"y":2140,"wires":[["e2ab7e88142648b7"]]},{"id":"dc0ac56db8160a50","type":"comment","z":"f699925d4b7c779c","name":"Turn \"OFF\" away boolean","info":"","x":810,"y":2340,"wires":[]},{"id":"dbb989c18fe9e4d0","type":"time-range-switch","z":"f699925d4b7c779c","name":"","lat":"27.918805","lon":"-81.866830","startTime":"dusk","endTime":"dawn","startOffset":0,"endOffset":0,"x":790,"y":2520,"wires":[["11dd821be74d47c6"],[]]},{"id":"383718b3ccf39b30","type":"comment","z":"f699925d4b7c779c","name":"Turn on Kitchen Lights if dark out","info":"","x":830,"y":2480,"wires":[]},{"id":"3d193c7e15889b25","type":"switch","z":"f699925d4b7c779c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"not_home","vt":"str"},{"t":"eq","v":"home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":1820,"wires":[["a6bcf4322935a07a"],["e7264cc472661e4d"]]},{"id":"ee65da24c8378a12","type":"server-state-changed","z":"f699925d4b7c779c","name":"Justin Presence","server":"26956a45.92d866","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.life360_justin","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":1760,"wires":[["3d193c7e15889b25","914a2a94d95b823f","6c7f67660a9c86f8"],["3d193c7e15889b25","b2c86896e0b7ba07"]]},{"id":"59ea1814b1c17e3d","type":"server-state-changed","z":"f699925d4b7c779c","name":"Sarah Presence","server":"26956a45.92d866","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.life360_sarah","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":1820,"wires":[["3d193c7e15889b25","a1522c0425219dac","6c7f67660a9c86f8"],["3d193c7e15889b25","001f0da4f23ad0a3"]]},{"id":"e9abff4e75b7db4c","type":"server-state-changed","z":"f699925d4b7c779c","name":"Ava Presence","server":"26956a45.92d866","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.life360_ava","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":1880,"wires":[["3d193c7e15889b25","8390f765a2270130","6c7f67660a9c86f8"],["3d193c7e15889b25","bc5c9b4dd3f0fbc3"]]},{"id":"1261481257b2c513","type":"server-state-changed","z":"f699925d4b7c779c","d":true,"name":"Cori Presence","server":"26956a45.92d866","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.coris_iphone","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":1940,"wires":[["b1f5b78b3ef9fa87","e7264cc472661e4d"],[]]},{"id":"1a196f2c2fc69371","type":"api-current-state","z":"f699925d4b7c779c","name":"Climate Boolean On?","server":"26956a45.92d866","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.climate_boolean","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":820,"y":1620,"wires":[[],["4c481f5e9f0a3a21"]]},{"id":"25712f59b51d7124","type":"api-current-state","z":"f699925d4b7c779c","name":"Ava Home?","server":"26956a45.92d866","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"device_tracker.life360_ava","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":310,"y":2720,"wires":[[],["ddae4dd303efb950","8867de839aeae735","68018a6d0b66a315"]]},{"id":"cbe11f0defcfca99","type":"api-current-state","z":"f699925d4b7c779c","name":"Family Home?","server":"26956a45.92d866","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"group.family","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":140,"y":2720,"wires":[[],["25712f59b51d7124"]]},{"id":"0ec621fd1045ecb3","type":"comment","z":"f699925d4b7c779c","name":"Set Ecobee to Home @3pm, Disable Alarm, T-F for Cori----------------------------------------------------------------------------------------------------------","info":"","x":470,"y":2580,"wires":[]},{"id":"ddae4dd303efb950","type":"api-call-service","z":"f699925d4b7c779c","name":"Turn ON climate boolean","server":"26956a45.92d866","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.climate_boolean"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":570,"y":2780,"wires":[["365e499c5ea223ae"]]},{"id":"ca41895f1e1b201d","type":"api-call-service","z":"f699925d4b7c779c","name":"Turn OFF climate boolean","server":"26956a45.92d866","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.climate_boolean"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":830,"y":2620,"wires":[[]]},{"id":"c21a9a80f4e05ddb","type":"switch","z":"f699925d4b7c779c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":2620,"wires":[["cbe11f0defcfca99"],["ca41895f1e1b201d"]]},{"id":"c8369ec67cbfec0e","type":"timeswitch","z":"f699925d4b7c779c","name":"","mytopic":"","lat":"28.06579","lon":"-81.95604","starttime":"900","endtime":"1050","timezone":"America/New_York","duskoff":"0","dawnoff":"0","sun":false,"mon":false,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"x":120,"y":2620,"wires":[["bcc2b7edc53267cd"]]},{"id":"bcc2b7edc53267cd","type":"rbe","z":"f699925d4b7c779c","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":250,"y":2620,"wires":[["c21a9a80f4e05ddb"]]},{"id":"d90ed3cc924be057","type":"api-call-service","z":"f699925d4b7c779c","name":"Home routine boolean \"on\"","server":"26956a45.92d866","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.home_routine_boolean"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1440,"y":2400,"wires":[["37b674a56c8f63dc"]]},{"id":"a771ed06df23fc33","type":"api-current-state","z":"f699925d4b7c779c","name":"Home routine boolean on?","server":"26956a45.92d866","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.home_routine_boolean","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1440,"y":2460,"wires":[[],["d90ed3cc924be057"]]},{"id":"37b674a56c8f63dc","type":"delay","z":"f699925d4b7c779c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1640,"y":2400,"wires":[["a771ed06df23fc33"]]},{"id":"9f841569ab21dc48","type":"delay","z":"f699925d4b7c779c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1380,"y":1820,"wires":[["46dec7fbc84b11ba"]]},{"id":"7f66890dc8da4e19","type":"delay","z":"f699925d4b7c779c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1880,"y":1820,"wires":[["46f9eff573d998a4"]]},{"id":"46f9eff573d998a4","type":"api-current-state","z":"f699925d4b7c779c","name":"Away routine boolean on?","server":"26956a45.92d866","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.away_routine_boolean","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":2070,"y":1820,"wires":[[],["c4bad71389d2bbf4"]]},{"id":"c4bad71389d2bbf4","type":"api-call-service","z":"f699925d4b7c779c","name":"Away routine boolean \"on\"","server":"26956a45.92d866","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.away_routine_boolean"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1940,"y":1760,"wires":[["7f66890dc8da4e19"]]},{"id":"768ff9b3a21627c0","type":"api-call-service","z":"f699925d4b7c779c","name":"Turn on night boolean","server":"26956a45.92d866","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.night_routine_boolean"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":600,"y":660,"wires":[[]]},{"id":"77c2751741aa02cd","type":"api-call-service","z":"f699925d4b7c779c","name":"Turn off night boolean","server":"26956a45.92d866","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.night_routine_boolean"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1880,"y":200,"wires":[["8cc02c7d69cc89ce"]]},{"id":"76e2e0922f93fe51","type":"api-current-state","z":"f699925d4b7c779c","name":"Morning boolean on?","server":"26956a45.92d866","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.morning_routine_boolean","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1560,"y":260,"wires":[[],["a1aa7b47db1fd809"]]},{"id":"8cc02c7d69cc89ce","type":"api-current-state","z":"f699925d4b7c779c","name":"Night boolean off?","server":"26956a45.92d866","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.night_routine_boolean","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1870,"y":260,"wires":[[],["77c2751741aa02cd"]]},{"id":"94a68a7ef2836f8f","type":"api-call-service","z":"f699925d4b7c779c","name":"Home routine boolean \"off\"","server":"26956a45.92d866","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.home_routine_boolean"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1440,"y":1760,"wires":[["9f841569ab21dc48"]]},{"id":"46dec7fbc84b11ba","type":"api-current-state","z":"f699925d4b7c779c","name":"Home routine boolean on?","server":"26956a45.92d866","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.home_routine_boolean","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1580,"y":1820,"wires":[["94a68a7ef2836f8f"],["c4bad71389d2bbf4"]]},{"id":"50f4e44596995c3f","type":"api-call-service","z":"f699925d4b7c779c","name":"Lock Front Door","server":"26956a45.92d866","version":5,"debugenabled":false,"domain":"lock","service":"lock","areaId":[],"deviceId":[],"entityId":["lock.front_door_lock"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1400,"y":1700,"wires":[[]]},{"id":"4fccb65365733a7b","type":"api-call-service","z":"f699925d4b7c779c","name":"Lock Front Door","server":"26956a45.92d866","version":5,"debugenabled":false,"domain":"lock","service":"lock","areaId":[],"deviceId":[],"entityId":["lock.front_door_lock"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":900,"y":720,"wires":[[]]},{"id":"4db2e7d33b662e79","type":"api-current-state","z":"f699925d4b7c779c","name":"Front Door Unlocked?","server":"26956a45.92d866","version":3,"outputs":2,"halt_if":"unlocked","halt_if_type":"str","halt_if_compare":"is","entity_id":"lock.front_door","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":600,"y":720,"wires":[["4fccb65365733a7b"],[]]},{"id":"9acfc1a002bb24b4","type":"api-call-service","z":"f699925d4b7c779c","name":"Turn off Front Door Boolean","server":"26956a45.92d866","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.front_door_unlocked_boolean"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1440,"y":2020,"wires":[[]]},{"id":"31b3349169e58481","type":"api-current-state","z":"f699925d4b7c779c","name":"Ava Home?","server":"26956a45.92d866","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"device_tracker.life360_ava","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":450,"y":1420,"wires":[["df1922654c8df3bf","232d1b87d3006a8d"],["a3129f01c46b1b95","1a196f2c2fc69371","232d1b87d3006a8d","b3dda2910d8baabe","02ed260c31340597","df1922654c8df3bf","1044d1ca25c3d6ef","ad55564553cf0008"]]},{"id":"68018a6d0b66a315","type":"api-call-service","z":"f699925d4b7c779c","name":"Turn on Front Door Boolean","server":"26956a45.92d866","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.front_door_unlocked_boolean"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":840,"y":2680,"wires":[[]]},{"id":"e1c91764846d6ea2","type":"api-call-service","z":"f699925d4b7c779c","d":true,"name":"Notify LR Android TV morning routine","server":"26956a45.92d866","version":5,"debugenabled":false,"domain":"notify","service":"living_room_tv","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\"\",\"message\":\"Morning routine\",\"data\":{\"fontsize\":\"max\",\"position\":\"top-left\",\"duration\":\"8\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1950,"y":80,"wires":[[]]},{"id":"a3129f01c46b1b95","type":"api-call-service","z":"f699925d4b7c779c","name":"Turn off the living tv","server":"26956a45.92d866","version":5,"debugenabled":false,"domain":"remote","service":"turn_off","areaId":[],"deviceId":[],"entityId":["remote.living_room"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":810,"y":1320,"wires":[[]]},{"id":"d952d33c28f270e7","type":"delay","z":"f699925d4b7c779c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":2220,"y":1520,"wires":[["c3d840bb897e6f10"]]},{"id":"6faf09f3e004fa97","type":"delay","z":"f699925d4b7c779c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":2260,"y":1600,"wires":[["e839bf816dd5f33e"]]},{"id":"3805d5433b31df23","type":"delay","z":"f699925d4b7c779c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":1580,"y":1640,"wires":[["8d39f7db371479bb"]]},{"id":"d88cda1a65b8be13","type":"delay","z":"f699925d4b7c779c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":1620,"y":1500,"wires":[["4df4881faf517ea5"]]},{"id":"196a62bbd1469517","type":"api-call-service","z":"f699925d4b7c779c","name":"Disarm Alarm","server":"26956a45.92d866","version":5,"debugenabled":false,"domain":"alarm_control_panel","service":"alarm_disarm","areaId":[],"deviceId":[],"entityId":["alarm_control_panel.home_alarm"],"data":"{\"code\":\"5849\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":840,"y":2000,"wires":[[]]},{"id":"fd7881b919767d9f","type":"gate","z":"f699925d4b7c779c","name":"","controlTopic":"control","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","statusCmd":"status","persist":false,"storeName":"memory","x":270,"y":1360,"wires":[["fcafd8f192c710d7"]]},{"id":"899c37c4b56a8349","type":"change","z":"f699925d4b7c779c","name":"close","rules":[{"t":"set","p":"topic","pt":"msg","to":"control","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"close","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":110,"y":1420,"wires":[["fd7881b919767d9f"]]},{"id":"6c7f67660a9c86f8","type":"change","z":"f699925d4b7c779c","name":"open","rules":[{"t":"set","p":"topic","pt":"msg","to":"control","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"open","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":110,"y":1480,"wires":[["fd7881b919767d9f"]]},{"id":"3fcef9cf0f96f089","type":"api-current-state","z":"f699925d4b7c779c","name":"Alarm disarmed?","server":"26956a45.92d866","version":3,"outputs":2,"halt_if":"disarmed","halt_if_type":"str","halt_if_compare":"is","entity_id":"alarm_control_panel.home_alarm","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":830,"y":1940,"wires":[[],["196a62bbd1469517"]]},{"id":"7d90cfacad6cf6b6","type":"server-events","z":"f699925d4b7c779c","name":"Listen for zwave event from front door lock","server":"26956a45.92d866","version":1,"event_type":"zwave_js_notification","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":600,"y":1880,"wires":[["181656c156f5f24d"]]},{"id":"181656c156f5f24d","type":"switch","z":"f699925d4b7c779c","name":"keypad event label","property":"payload.event.event_label","propertyType":"msg","rules":[{"t":"eq","v":"Keypad lock operation","vt":"str"},{"t":"eq","v":"Keypad unlock operation","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":870,"y":1880,"wires":[["6c7f67660a9c86f8","fcafd8f192c710d7"],["00ec9ed24e42e7f0"]]},{"id":"00ec9ed24e42e7f0","type":"switch","z":"f699925d4b7c779c","name":"user id","property":"payload.event.parameters.userId","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1030,"y":1900,"wires":[["3fcef9cf0f96f089","899c37c4b56a8349","8867de839aeae735","1a40a57170a22694"]]},{"id":"bc1a4e7d093d62f7","type":"comment","z":"f699925d4b7c779c","name":"Gwen's Google Home watchdog------------------------------------------------------------------------------------------------------------------------------------------------------","info":"","x":520,"y":1060,"wires":[]},{"id":"c7bb95b8c6856606","type":"inject","z":"f699925d4b7c779c","name":"8pm","props":[],"repeat":"","crontab":"00 20 * * *","once":false,"onceDelay":0.1,"topic":"","x":110,"y":1160,"wires":[["6020fc06e9229740"]]},{"id":"9a2b44790c1d660d","type":"api-current-state","z":"f699925d4b7c779c","name":"Gwen's Google Home","server":"26956a45.92d866","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.gwen_s_gh","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":520,"y":1100,"wires":[["7b3b37d7e6fb6bb3"]]},{"id":"7b3b37d7e6fb6bb3","type":"switch","z":"f699925d4b7c779c","name":"","property":"data.attributes.media_content_id","propertyType":"msg","rules":[{"t":"neq","v":"https://storage.googleapis.com/relaxation-sounds/pink_noise_3600.mp3","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":1100,"wires":[["11cf3dfabe970ef0"]]},{"id":"1bb25d986f62b0da","type":"inject","z":"f699925d4b7c779c","name":"30mins","props":[],"repeat":"1800","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":120,"y":1100,"wires":[["6020fc06e9229740"]]},{"id":"1a40a57170a22694","type":"api-call-service","z":"f699925d4b7c779c","name":"Turn on HTPC WOL","server":"26956a45.92d866","version":5,"debugenabled":false,"domain":"script","service":"my_computer_wake","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":820,"y":2200,"wires":[["387579d6d5b8dd18"]]},{"id":"387579d6d5b8dd18","type":"delay","z":"f699925d4b7c779c","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":860,"y":2260,"wires":[["99c812d124e3dd09"]]},{"id":"99c812d124e3dd09","type":"api-call-service","z":"f699925d4b7c779c","name":"Turn off HTPC WOL","server":"26956a45.92d866","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.htpc_wol"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1040,"y":2260,"wires":[[]]},{"id":"1044d1ca25c3d6ef","type":"api-call-service","z":"f699925d4b7c779c","name":"Turn off HTPC","server":"26956a45.92d866","version":5,"debugenabled":false,"domain":"script","service":"my_computer_shutdown","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":800,"y":1680,"wires":[[]]},{"id":"4e47748d1108c17a","type":"api-current-state","z":"f699925d4b7c779c","name":"LR TV off?","server":"26956a45.92d866","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.lr_android_tv","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":570,"y":780,"wires":[["a92dfd3fcb3fdd7a"],[]]},{"id":"04ee3fd12247bcdc","type":"api-call-service","z":"f699925d4b7c779c","name":"Turn on HTPC WOL","server":"26956a45.92d866","version":5,"debugenabled":false,"domain":"script","service":"my_computer_wake","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":480,"y":160,"wires":[["1fd8d7916061b972"]]},{"id":"1fd8d7916061b972","type":"delay","z":"f699925d4b7c779c","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":660,"y":140,"wires":[["9b55a4d7f97c4ea3"]]},{"id":"9b55a4d7f97c4ea3","type":"api-call-service","z":"f699925d4b7c779c","name":"Turn off HTPC WOL","server":"26956a45.92d866","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.htpc_wol"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":840,"y":160,"wires":[[]]},{"id":"d6f35f2ea65f60cd","type":"api-call-service","z":"f699925d4b7c779c","d":true,"name":"Turn off HTPC","server":"26956a45.92d866","version":5,"debugenabled":false,"domain":"script","service":"my_computer_shutdown","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":900,"y":780,"wires":[[]]},{"id":"11cf3dfabe970ef0","type":"api-call-service","z":"f699925d4b7c779c","name":"Set Gwen's GH 100%","server":"26956a45.92d866","version":5,"debugenabled":false,"domain":"script","service":"set_gwens_spkr_vol_100","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":860,"y":1100,"wires":[["9052e04881690cc6"]]},{"id":"6020fc06e9229740","type":"time-range-switch","z":"f699925d4b7c779c","name":"7:59p to 6:30a","lat":"27.918805","lon":"-81.95932","startTime":"19:59","endTime":"06:30","startOffset":0,"endOffset":0,"x":300,"y":1120,"wires":[["9a2b44790c1d660d"],[]]},{"id":"3c9ac8b67b42a023","type":"api-call-service","z":"f699925d4b7c779c","name":"Turn off Gwen's Speaker","server":"26956a45.92d866","version":5,"debugenabled":false,"domain":"media_player","service":"turn_off","areaId":["a09e7ac7e80d4c86af0a852f274203a8"],"deviceId":["8f49a7558bc84eeb84651579cb9cea22"],"entityId":["media_player.gwen_s_gh"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":330,"y":1220,"wires":[[]]},{"id":"851470ed0b6c87ce","type":"inject","z":"f699925d4b7c779c","name":"7a","props":[],"repeat":"","crontab":"00 07 * * *","once":false,"onceDelay":0.1,"topic":"","x":110,"y":1220,"wires":[["3c9ac8b67b42a023"]]},{"id":"9052e04881690cc6","type":"api-call-service","z":"f699925d4b7c779c","name":"Play White Noise","server":"26956a45.92d866","version":5,"debugenabled":false,"domain":"media_player","service":"play_media","areaId":["a09e7ac7e80d4c86af0a852f274203a8"],"deviceId":["8f49a7558bc84eeb84651579cb9cea22"],"entityId":["media_player.gwen_s_gh"],"data":"{\"media_content_id\":\"https://storage.googleapis.com/relaxation-sounds/pink_noise_3600.mp3\",\"media_content_type\":\"music\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1110,"y":1080,"wires":[[]]},{"id":"e68cc18941280b82","type":"api-call-service","z":"f699925d4b7c779c","name":"Set MB GH 60%","server":"26956a45.92d866","version":5,"debugenabled":false,"domain":"script","service":"set_mb_spkr_vol_60","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1320,"y":860,"wires":[["972437ae75a585d4"]]},{"id":"972437ae75a585d4","type":"api-call-service","z":"f699925d4b7c779c","name":"Play White Noise MB Spkr","server":"26956a45.92d866","version":5,"debugenabled":false,"domain":"media_player","service":"play_media","areaId":[],"deviceId":[],"entityId":["media_player.master_bedroom_gh"],"data":"{\"media_content_id\":\"https://storage.googleapis.com/relaxation-sounds/pink_noise_3600.mp3\",\"media_content_type\":\"music\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1540,"y":840,"wires":[[]]},{"id":"fc12b601a652144c","type":"api-call-service","z":"f699925d4b7c779c","name":"Set MB GH 60%","server":"26956a45.92d866","version":5,"debugenabled":false,"domain":"script","service":"set_mb_spkr_vol_60","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":900,"y":540,"wires":[["55e295aa11f15537"]]},{"id":"55e295aa11f15537","type":"api-call-service","z":"f699925d4b7c779c","name":"Play White Noise MB Spkr","server":"26956a45.92d866","version":5,"debugenabled":false,"domain":"media_player","service":"play_media","areaId":[],"deviceId":[],"entityId":["media_player.master_bedroom_gh"],"data":"{\"media_content_id\":\"https://storage.googleapis.com/relaxation-sounds/pink_noise_3600.mp3\",\"media_content_type\":\"music\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1120,"y":520,"wires":[[]]},{"id":"a92dfd3fcb3fdd7a","type":"api-current-state","z":"f699925d4b7c779c","name":"MB TV off?","server":"26956a45.92d866","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.master_bedroom_tv","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":730,"y":780,"wires":[["d6f35f2ea65f60cd"],[]]},{"id":"d8442127f5ed92ee","type":"switch","z":"f699925d4b7c779c","name":"","property":"data.attributes.media_content_id","propertyType":"msg","rules":[{"t":"neq","v":"https://storage.googleapis.com/relaxation-sounds/pink_noise_3600.mp3","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":540,"wires":[["fc12b601a652144c"]]},{"id":"24fe21574a0150b1","type":"api-current-state","z":"f699925d4b7c779c","name":"MB Google Home","server":"26956a45.92d866","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.master_bedroom_gh","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":590,"y":540,"wires":[["d8442127f5ed92ee"]]},{"id":"8c52813e257a5648","type":"delay","z":"f699925d4b7c779c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1160,"y":860,"wires":[["e68cc18941280b82"]]},{"id":"ad55564553cf0008","type":"api-call-service","z":"f699925d4b7c779c","name":"Turn off MB TV","server":"26956a45.92d866","version":5,"debugenabled":false,"domain":"remote","service":"turn_off","areaId":[],"deviceId":[],"entityId":["remote.master_bedroom_tv"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1060,"y":1380,"wires":[[]]},{"id":"26956a45.92d866","type":"server","name":"Hass.io","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30},{"id":"efbc7bf8.9354a8","type":"telegrambot-config","botname":"Stroud_House_Logging_Bot","usernames":"","chatIds":"","pollInterval":"300"}]
