Node-RED_picture_notification_example
[{"id":"8673e30f.fb9b4","type":"tab","label":"test 3","disabled":true,"info":""},{"id":"cd199c3b.7bc67","type":"comment","z":"8673e30f.fb9b4","name":"Doorbell button / motion","info":"","x":300,"y":200,"wires":[]},{"id":"fd3bb775.508d98","type":"server-state-changed","z":"8673e30f.fb9b4","name":"Doorbell motion","server":"26956a45.92d866","version":1,"entityidfilter":"binary_sensor.skybell_front_door_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":280,"y":280,"wires":[["94140b6.f6ee9f8"],[]]},{"id":"af7ac93f.0279e8","type":"server-state-changed","z":"8673e30f.fb9b4","name":"Doorbell button","server":"26956a45.92d866","version":1,"entityidfilter":"binary_sensor.skybell_front_door_button","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":280,"y":340,"wires":[["94140b6.f6ee9f8"],[]]},{"id":"94140b6.f6ee9f8","type":"api-call-service","z":"8673e30f.fb9b4","name":"Take Snapshot","server":"26956a45.92d866","version":1,"service_domain":"camera","service":"snapshot","entityId":"camera.front_door_last_activity","data":"{\"filename\":\"/config/www/snapshot_camera.front_door_last_activity\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":520,"y":280,"wires":[["2c0567c4.e6add8"]]},{"id":"d370faea.c2cff8","type":"inject","z":"8673e30f.fb9b4","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":240,"wires":[["94140b6.f6ee9f8"]]},{"id":"1d7ca38f.7d6d4c","type":"api-call-service","z":"8673e30f.fb9b4","name":"Send Photo","server":"26956a45.92d866","version":1,"service_domain":"telegram_bot","service":"send_photo","entityId":"","data":"{\"file\":\"/config/www/snapshot_camera.front_door_last_activity\",\"caption\":\"Someone's at the front door\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":850,"y":280,"wires":[[]]},{"id":"2c0567c4.e6add8","type":"delay","z":"8673e30f.fb9b4","name":"1sec delay","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":690,"y":280,"wires":[["1d7ca38f.7d6d4c"]]},{"id":"26956a45.92d866","type":"server","z":"","name":"Hass.io","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true}]
